# Q1

1. Deciding whether to issue a loan to an applicant based on demographic and financial data (with reference to a database of similar data on prior customers)

- Ans: It is supervised Learning of classification type


2. In an online bookstore, making recommendations to customers concerning additional items to buy based on the buying patterns in prior transactions.

- Ans: unsupervised learning

3. Identifying a network data packet as dangerous (virus, hacker attack) based on comparison to other packets whose threat status is known.

- Ans. supervised learning.

4. Identifying segments of similar customers.

- Ans. unsupervised learning.

5. Predicting whether a company will go bankrupt based on comparing its financial data to those of similar bankrupt and nonbankrupt firms.

- Ans. supervised learning.

# Q2

In [1]:
# import the library
import pandas as pd

In [2]:
# read the dataset
df = pd.read_csv("D:\OneDrive - NITT\Custom_Download\ToyotaCorolla_Assignment_1_Q2.csv")

In [3]:
# check the datatypes
df.dtypes

Id                    int64
Model                object
Price                 int64
Age_08_04             int64
Mfg_Month             int64
Mfg_Year              int64
KM                    int64
Fuel_Type            object
HP                    int64
Met_Color             int64
Color                object
Automatic             int64
CC                    int64
Doors                 int64
Cylinders             int64
Gears                 int64
Quarterly_Tax         int64
Weight                int64
Mfr_Guarantee         int64
BOVAG_Guarantee       int64
Guarantee_Period      int64
ABS                   int64
Airbag_1              int64
Airbag_2              int64
Airco                 int64
Automatic_airco       int64
Boardcomputer         int64
CD_Player             int64
Central_Lock          int64
Powered_Windows       int64
Power_Steering        int64
Radio                 int64
Mistlamps             int64
Sport_Model           int64
Backseat_Divider      int64
Metallic_Rim          int64
Radio_cassette        int64
Parking_Assistant     int64
Tow_Bar               int64
dtype: object

In [4]:
# get the column name of categorical variables
df.select_dtypes('object').columns

Index(['Model', 'Fuel_Type', 'Color'], dtype='object')

In [5]:
# check number of unique Model
df.Model.nunique()

319

In [6]:
# check number of unique Fuel_Type
df.Fuel_Type.unique()

array(['Diesel', 'Petrol', 'CNG'], dtype=object)

In [7]:
# check number of unique Color
df.Color.nunique()

10

# Categorical variables to binary variables conversion

To convert categorical attributes to binary variables, we can use a technique called one-hot encoding. This involves creating a new binary variable for each category of the attribute, with a value of 1 indicating that the sample belongs to that category and a value of 0 indicating that it does not.

For example, in the case of the Fuel Type attribute,options are "Diesel","CNG" and "Petrol", we would create Three binary variables: Fuel_Type_Petrol,Fuel_Type_CNG and Fuel_Type_Diesel. A sample with a Fuel Type of "Diesel" would have a value of 1 for the Fuel_Type_Diesel variable and a value of 0 for the Fuel_Type_CNG and Fuel_Type_Petrol variable. Similarly, for other Fuel types.

The same process applies to the Color attribute.

In [8]:
# perform categorical variable into dummy variables.
df = pd.get_dummies(df,columns=['Fuel_Type', 'Color'])
df

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,...,Color_Beige,Color_Black,Color_Blue,Color_Green,Color_Grey,Color_Red,Color_Silver,Color_Violet,Color_White,Color_Yellow
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,90,1,0,...,0,0,1,0,0,0,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,90,1,0,...,0,0,0,0,0,0,1,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,90,1,0,...,0,0,1,0,0,0,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,90,0,0,...,0,1,0,0,0,0,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,90,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,86,1,0,...,0,0,1,0,0,0,0,0,0,0
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,86,0,0,...,0,0,0,0,1,0,0,0,0,0
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,86,0,0,...,0,0,1,0,0,0,0,0,0,0
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,86,1,0,...,0,0,0,0,1,0,0,0,0,0
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,110,0,0,...,0,0,0,1,0,0,0,0,0,0

In [9]:
# number of column is increased after performing get_dummies 
df.shape

(1436, 50)

# Weight normalization

In [10]:
# weight before normalization
df['Weight']

0       1165
1       1165
2       1165
3       1165
4       1170
        ...
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114
Name: Weight, Length: 1436, dtype: int64

In [11]:
# perform mean normalization
# (x-x_mean)/x_std
df['Weight'] = (df.Weight - df.Weight.mean())/df.Weight.std()

In [12]:
# weight after normalization
df['Weight']

0       1.757949
1       1.757949
2       1.757949
3       1.757949
4       1.852931
          ...
1431   -0.901569
1432   -1.091535
1433   -1.091535
1434   -1.091535
1435    0.789124
Name: Weight, Length: 1436, dtype: float64

In [13]:
# display final dataframe
df

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,...,Color_Beige,Color_Black,Color_Blue,Color_Green,Color_Grey,Color_Red,Color_Silver,Color_Violet,Color_White,Color_Yellow
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,90,1,0,...,0,0,1,0,0,0,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,90,1,0,...,0,0,0,0,0,0,1,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,90,1,0,...,0,0,1,0,0,0,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,90,0,0,...,0,1,0,0,0,0,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,90,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,86,1,0,...,0,0,1,0,0,0,0,0,0,0
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,86,0,0,...,0,0,0,0,1,0,0,0,0,0
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,86,0,0,...,0,0,1,0,0,0,0,0,0,0
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,86,1,0,...,0,0,0,0,1,0,0,0,0,0
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,110,0,0,...,0,0,0,1,0,0,0,0,0,0