In [1]:
import pandas as pd
import numpy as np

In [2]:
# https://stackoverflow.com/questions/10951341/pandas-dataframe-aggregate-function-using-multiple-columns?

In [3]:
df = pd.read_excel("D:\OneDrive - NITT\Custom_Download\RITM10751313_1 (1).xlsx")

In [4]:
df

,COMPANY_ID,LEGAL_ENTITY_ID,CPTY_ID,DEAL_FOLDER_ID,FO_DEAL_ID,TRADE_DATE,VALUE_DATE,BUY_CCY_ID,BUY_AMOUNT,SELL_CCY_ID,SELL_AMOUNT
0,BNTYC,TOK,NIPLIOSA013,20100448,RMS1234,20221219,20230130,JPY,78456,USD,-344030302
1,BNTYC,TOK,NIPLIOSA013,20100448,RMS149,20221218,20230130,USD,1228905,JPY,-4290494
2,BNTYC,TOK,NIPLIOSA013,20100448,RMS209,20221217,20230130,JPY,45789,JPY,-1100455
3,DBEUR,TOK,NIPLIOSA013,20100448,RMS309,20231018,20230130,GBR,107546,USD,-1268947
4,DBEUR,LON,CMSGEF123,7890344,RMS409,20230808,20230130,USD,650000,GBR,-22751
5,DBEUR,LON,CMSGEF123,7890344,RMS509,20231218,20230327,USD,22757567,USD,-129940
6,DBSEC,LON,CMSGEF123,7890344,RMS609,20231108,20230327,EUR,32900,EUR,-49404
7,DBSEC,FF1,GOLAMN32,7890344,RMS709,20231015,20230309,GBP,10100,GBP,-384940
8,DBMAY,FF1,GOLAMN32,394560945,RMS231,20220510,20230528,CAD,86700,USD,-12883
9,DBMAY,FF1,GOLAMN32,394560945,RMS331,20220510,20230528,USD,174000,CAD,-2939
10,BNTYC,DSI,IND123,394560945,RMS531,20220510,20230530,SEK,320000,SEK,-394840
11,BNTYC,DSI,IND123,763489890,RMS731,20220510,20230530,CHF,5599956,CHF,-48495
12,BNTYC,KUL,IND123,763489890,RMS831,20220510,20230530,HKD,458906,HKD,-1100101
13,DBEUR,BKK,IND345,20100448,RMS331,20220511,20230515,THB,174000,THB,-384940
14,DBEUR,BKK,IND345,20100448,RMS531,20220511,20230515,THB,320000,THB,-12883
15,DBEUR,BKK,IND345,7890344,RMS731,20220511,20230515,USD,5599956,USD,-2939
16,BNTYC,BKK,IND567,763489890,RMS331,20230612,20230612,THB,458906,THB,-1100101
17,BNTYC,BKK,IND567,763489890,RMS331,20230612,20230612,THB,174000,THB,-384940
18,BNTYC,BKK,IND567,763489890,RMS331,20230612,20230612,USD,320000,USD,-12883
19,DBMAY,KUL,CMSGEF123,7890344,RMS509,20231218,20230327,USD,22757567,USD,-129940
20,DBMAU,KUL,CMSGEF123,7890344,RMS609,20231108,20230327,EUR,32900,EUR,-49404

# new code

In [5]:
def fun(d1,d2):
    t = {x:min(d1[x],d2[x]) for x in d1 if x in d2}
    return t

In [6]:
def non_match_fun(d1,d2):
    all_key = {**d1,**d2}
    key_del = set(d1).intersection(set(d2))
    return {i:all_key[i] for i in all_key if i not in key_del}

In [7]:
def custom_agg(x):
    return pd.Series({
        
    'unique_BUY_cur': x.BUY_CCY_ID.nunique(), 
    'count_BUY_cur': dict(x.BUY_CCY_ID.value_counts()),
    'unique_SELL_cur': x.SELL_CCY_ID.nunique(),
    'count_SELL_cur': dict(x.SELL_CCY_ID.value_counts()),
    'diff':np.average(x.BUY_AMOUNT - x.SELL_AMOUNT),
    'Matching_curr': fun(dict(x.BUY_CCY_ID.value_counts()),dict(x.SELL_CCY_ID.value_counts())),
    'Matching_curr_count': sum(fun(dict(x.BUY_CCY_ID.value_counts()),dict(x.SELL_CCY_ID.value_counts())).values()),
    'Non Matching_curr': non_match_fun(dict(x.BUY_CCY_ID.value_counts()),dict(x.SELL_CCY_ID.value_counts())),
    'Non Matching Count': sum(non_match_fun(dict(x.BUY_CCY_ID.value_counts()),dict(x.SELL_CCY_ID.value_counts())).values()),
        
    })

In [8]:
x = df.groupby(['COMPANY_ID','LEGAL_ENTITY_ID','VALUE_DATE']).apply(custom_agg).reset_index()

In [9]:
x

,COMPANY_ID,LEGAL_ENTITY_ID,VALUE_DATE,unique_BUY_cur,count_BUY_cur,unique_SELL_cur,count_SELL_cur,diff,Matching_curr,Matching_curr_count,Non Matching_curr,Non Matching Count
0,BNTYC,BKK,20230612,2,"{'THB': 2, 'USD': 1}",2,"{'THB': 2, 'USD': 1}",8.169433e+05,"{'THB': 2, 'USD': 1}",3,{},0
1,BNTYC,DSI,20230530,2,"{'SEK': 1, 'CHF': 1}",2,"{'SEK': 1, 'CHF': 1}",3.181646e+06,"{'SEK': 1, 'CHF': 1}",2,{},0
2,BNTYC,KUL,20230530,1,{'HKD': 1},1,{'HKD': 1},1.559007e+06,{'HKD': 1},1,{},0
3,BNTYC,TOK,20230130,2,"{'JPY': 2, 'USD': 1}",2,"{'JPY': 2, 'USD': 1}",1.169248e+08,"{'JPY': 2, 'USD': 1}",3,{},0
4,DBEUR,BKK,20230515,2,"{'THB': 2, 'USD': 1}",2,"{'THB': 2, 'USD': 1}",2.164906e+06,"{'THB': 2, 'USD': 1}",3,{},0
5,DBEUR,LON,20230130,1,{'USD': 1},1,{'GBR': 1},6.727510e+05,{},0,"{'USD': 1, 'GBR': 1}",2
6,DBEUR,LON,20230327,1,{'USD': 1},1,{'USD': 1},2.288751e+07,{'USD': 1},1,{},0
7,DBEUR,TOK,20230130,1,{'GBR': 1},1,{'USD': 1},1.376493e+06,{},0,"{'GBR': 1, 'USD': 1}",2
8,DBMAU,KUL,20230327,1,{'EUR': 1},1,{'EUR': 1},8.230400e+04,{'EUR': 1},1,{},0
9,DBMAY,FF1,20230528,2,"{'CAD': 1, 'USD': 1}",2,"{'USD': 1, 'CAD': 1}",1.382610e+05,"{'CAD': 1, 'USD': 1}",2,{},0
10,DBMAY,KUL,20230327,1,{'USD': 1},1,{'USD': 1},2.288751e+07,{'USD': 1},1,{},0
11,DBSEC,FF1,20230309,1,{'GBP': 1},1,{'GBP': 1},3.950400e+05,{'GBP': 1},1,{},0
12,DBSEC,LON,20230327,1,{'EUR': 1},1,{'EUR': 1},8.230400e+04,{'EUR': 1},1,{},0

# Just For your reference

In [10]:
# def f(x):
#     d1 = x['count_BUY_cur']
#     d2 = x['count_SELL_cur']
#     t = {x:min(d1[x],d2[x]) for x in d1 if x in d2}
#     return t

In [11]:
# x['Matching_curr'] = x.apply(lambda t:f(t),axis=1)

In [12]:
# x['Matching_curr_count'] = x['Matching_curr'].apply(lambda x:sum(x.values()))

In [13]:
# x